<!DOCTYPE html>
<html>
<head>
	<%- include('head.ejs') %>
	<title>AB</title>
</head>

<body  ng-app="myModuleHomeDb" ng-controller="myControllerHomeDb">
	<%- include('allPageHeaderBar.ejs') %> <!--show the top bar (html + js)-->

	<div class="clothingPhotos" id="clothingPhotos">
		helloworld  {{50+50}} 
		<div class="clothingAutowide">
			<div class="clothingModule" ng-repeat="x in records track by $index" >
				<div class="showProductInDetail" role="button"> 
					<img src="{{x}}" alt="" />
					<p class="productTitle">T-shirts from Mauritius.</p>
					<p class="productPrice">Rs 120.00</p>
				</div>				
			</div>
		</div>
	</div>
	
	<%- include('bottomJavaScriptLink.ejs') %>
	<script src="js/clothingPageJs.js"></script>
</body>
</html>