<html>
    <head>
    <style>
        #zoom {
            position: absolute;
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            border-radius: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .8);
            display: none;
        }

        #view {
            /* margin: 30px 0; */
            /* height: 384px; */
            height: 100%;
            width: 100%;
        }

        #view img {
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,.6);
            height: 100vh;
            width: 100vw;
        }

        #thumbs {
            position: relative;
            /* margin: 20px 0; */
        }

        /* #nav-left-thumbs { left: 70px; }

        #nav-right-thumbs { right: 70px; }

        #nav-left-thumbs, #nav-right-thumbs {
            position: absolute;
            top: 30px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,.6);
            font-size: 1em;
            font-weight: bold;
            color: #999;
            text-shadow: 0 0 10px rgba(0,0,0,.5);
            cursor: pointer;
            transition-duration: .5s;
        }

        #nav-left-thumbs:hover, #nav-right-thumbs:hover { background: lightgrey; } */

        #pics-thumbs {
            position: relative;
            padding: 5px 0;
            /* margin: 0 122px; */
            white-space: nowrap;
            overflow: hidden;
            transition-duration: .8s;
        }

        #pics-thumbs img {
            padding: 5px;
            /* margin: 0 2px; */
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(0,0,0,.6);
            cursor: pointer;
            height: 75px;
            transition-duration: .5s;
        }    
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="jQuery-Gallery-Image-Zoom/js/zoom-slideshow.js"></script>

    </head>

    <body>
        <div id="view" > 
            <img src="" alt="" />
        </div>

        <div id="thumbs">
            <!-- <div id="nav-left-thumbs"></div> -->
            
            <div id="pics-thumbs">
                <img src="uploads/ABW02.png" alt="Nature1" />
                <img src="uploads/ABW03.png" alt="Nature2" />
                <img src="uploads/ABW04.png" alt="Nature3" />
            </div>

            <!-- <div id="nav-right-thumbs"></div> -->
        </div>


        <div id="zoom"></div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="jQuery-Gallery-Image-Zoom/js/zoom-slideshow.js"></script>

        <script>
            $(document).ready(function() {
                $('#view').setZoomPicture({
                    thumbsContainer: '#pics-thumbs',
                    prevContainer: '#nav-left-thumbs',
                    nextContainer: '#nav-right-thumbs',
                    zoomContainer: '#zoom',
                    zoomLevel: 2

                }); 
            });
        </script>
    </body>
</html>