<!DOCTYPE html>
<html>
<head>
<title>AB Website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

  <!-- angular js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

  <!-- materialize -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" id="bootstrap-css">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> 

  <!-- carousel -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>
 
  <script src="js/javaScript.js"></script>

  <!-- bootstrap -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="OwlCarousel/src/scss/owl.theme.default.scss">
  <link rel="stylesheet" type="text/css" href="css/test.css">
    
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 

</head>
<body>
<!-- <header>

</header>
<div class="container"> 
  <div class="header">
    <nav class="navigation">
      <a href="#" class="navbar-logo">Logo</a>
      <div class="navbar-right">
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
      </div>
    </nav>

    <div class="video-container">
      <video autoplay loop muted id="video-bg">

        <source src="uploads/ABvideo.mp4" type="video/mp4">

      </video>
    </div>
  </div> -->
<!--   <div class="portfolio-section">
    <div class="tagline-left">
      <div class="tagline-left-text">Serving the waters that serve our state.</div>
      <video autoplay muted loop class="tagline-video">
        <source src="http://www.bigcom.com/assets/2014/10/asmc_bg2.mp4" type="video/mp4">
      </video>
    </div>
    <div class="tagline-right">
      <div class="tagline-right-text">The future is for workers</div>
      <video autoplay muted loop class="tagline-video">
        <source src="http://www.bigcom.com/assets/2014/08/GoBuildAlabama.mp4" type="video/mp4">
      </video>
    </div>
  </div> -->

<!-- </div> -->

  <div id="wrapper">
    <div id="slider-area" class="owl-carousel">
      <div style="background-image: url('uploads/AB03.png');"></div>
      <div style="background-image: url('uploads/AB04.png');"></div>
      <div style="background-image: url('uploads/AB05.png');"></div>
    </div>
    <div id="nav-area">
      <div class="nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
    </div>
    <div class="slider-text">
      <h2>Welcome to the Website</h2>
      <p>dsdsfsdfsdfsdf</p>
      <a href="#">Contact Us</a>
    </div>


  </div>

  <script type="text/javascript">
    $('#slider-area').owlCarousel({
      items: 1,
      loop:true,
      autoPlay:true,
     
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:5
          }
      }
  });

  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="OwlCarousel/src/js/owl.carousel.js"></script>



 <!-- https://serene-chamber-19457.herokuapp.com/  -->
</body>
</html>