<!DOCTYPE html>
<html>
<head>
	<title>AB Website</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- angular js -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

	<!-- materialize -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" id="bootstrap-css">
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> 

	<!-- carousel -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/javaScript.js"></script>

	<!-- bootstrap -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="OwlCarousel/src/scss/owl.theme.default.scss">
	<link rel="stylesheet" type="text/css" href="css/productSlider.css">
   	
   	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

	  	<a class="navbar-brand" href="">Logo</a>

	 	<a class="navbar-brand" href="">Menu</a>
	  	
		<li class="nav-item dropdown" style="list-style-type: none;">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Dropdown link</a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="#">Link 1</a>
	        <a class="dropdown-item" href="#">Link 2</a>
	        <a class="dropdown-item" href="#">Link 3</a>
	      </div>
	    </li>
	</nav>


	<div class="container-fluid">
      	<div class="row" style="margin-bottom: 20px">
      		<div class="col">
      			<div class="parallax center-fit" style="background-image: url('uploads/AB08.png');"></div>
      		</div>	
      	</div>

		<div class="row">
      		<div class="col-sm-6"  align="center"><!-- style="background-color:red;" -->
      			<img class="center-fit" src="uploads/AB09.png">
      		</div>
      		<div class="col-sm-6" align="center"><!-- style="background-color:green;"  -->
      			<img class="center-fit" src="uploads/AB10.png" >
      		</div>
      	</div>
      	<div class="row">
      		<div class="col" style="background-color:;">
      			<div class="containerSliderHeader">
		      		<div class="row top-buffer">
		      			<div class="col-md-12 text-center"><h2>Product Slider</h2></div>
		      		</div>
		      	</div>

		      	<div class="containerSlider">
		      		<div class="row">
		      			<div class="owl-carousel owl-theme">

		      				<div class="item">
		      					<div class="card">
		      						<img src="uploads/AB09.png" alt="img" class="card-img-top">
		      						<div class="card-body">
		      							<h3>T-shirt</h3>
		      							<h5>$<span class="text-center">23</span></h5>
		      							<button class="btn btn-primary btn-sm">Buy now</button>
		      						</div>
		      					</div>
		      				</div>

		      				<div class="item">
		      					<div class="card">
		      						<img src="uploads/AB10.png" alt="img" class="card-img-top">
		      						<div class="card-body">
		      							<h3>T-shirt</h3>
		      							<h5>$<span class="text-center">23</span></h5>
		      							<button class="btn btn-primary btn-sm">Buy now</button>
		      						</div>
		      					</div>
		      				</div>

		      				<div class="item">
		      					<div class="card">
		      						<img src="uploads/AB06.png" alt="img" class="card-img-top">
		      						<div class="card-body">
		      							<h3>T-shirt</h3>
		      							<h5>$<span class="text-center">23</span></h5>
		      							<button class="btn btn-primary btn-sm">Buy now</button>
		      						</div>
		      					</div>
		      				</div>

		      				<div class="item">
		      					<div class="card">
		      						<img src="uploads/AB04.png" alt="img" class="card-img-top">
		      						<div class="card-body">
		      							<h3>T-shirt</h3>
		      							<h5>$<span class="text-center">23</span></h5>
		      							<button class="btn btn-primary btn-sm">Buy now</button>
		      						</div>
		      					</div>
		      				</div>

		      				<div class="item">
		      					<div class="card">
		      						<img src="uploads/AB05.png" alt="img" class="card-img-top">
		      						<div class="card-body">
		      							<h3>T-shirt</h3>
		      							<h5>$<span class="text-center">23</span></h5>
		      							<button class="btn btn-primary btn-sm">Buy now</button>
		      						</div>
		      					</div>
		      				</div>

		      				<div class="item">
		      					<div class="card">
		      						<img src="uploads/AB03.png" alt="img" class="card-img-top">
		      						<div class="card-body">
		      							<h3>T-shirt</h3>
		      							<h5>$<span class="text-center">23</span></h5>
		      							<button class="btn btn-primary btn-sm">Buy now</button>
		      						</div>
		      					</div>
		      				</div>


		      			</div>
		      		</div>
		      	</div>
      		</div>

      	<div class="row" style="margin-bottom: 20px">
      		<div>
      			<video width="400" controls style="right: 100% ">
			      <source src="uploads/ABvideo.mp4" type="video/mp4">
			    </video>
      		</div>
	      		
      	</div>

      	</div>
	</div>

	<script type="text/javascript">
  	$('.owl-carousel').owlCarousel({
  		stagePadding: 50,
  		items: 4,
	    loop:true,
	    margin:10,
	    nav:true,

	    responsive:{
	        0:{
	            items:1
	        },
	        600:{
	            items:2
	        },
	        1000:{
	            items:3
	        }
	    }
	});

  </script>
				
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="OwlCarousel/src/js/owl.carousel.js"></script>




</body>
</html>