<html>
    <head>
        <%- include('head.ejs') %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Example of Bootstrap 3 Carousel</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            /* .item{
                width: 100px;
                height: 100px;
                padding: 10%;
              
            } */
            .item2{
                width: 70px;
                height: 100px;
                padding-right: 5px;
                /* padding-top: 5px; */
              
            }

            .colHeight{
                height: 596px;
            }

            /* .padding-0{
                padding-left:0;
            } */

        </style>
    </head>
    <body ng-app="myModuleHomeDb" ng-controller="myControllerHomeDb" ng-init="putGlassZoom()">
        <div class="row colHeight">
            <div class="col-xs-12 colHeight padding-0" class="d-flex justify-content-center" style="background-color: blue">
                <div class="col-md-6 padding-0 colHeight" style="background-color: yellow;" >
                    <table align="center">
                        <tr >
                            <td>
                                <div style="background-color: red;">
                                    <div class="item2" ng-repeat="x in records">
                                        <a id="{{x}}" ng-click="check(x)"><img src="{{x}}" alt="1.jpg" class="img-responsive"></a>
                                    </div>
                                </div>
                                
                            </td>
                            <td>
                                <div style="width:250px;height:400px">
                                    <img id="zoom" class='zoom' src="uploads/AB03.png"/>
                                </div>
                                <script src="js/wheelzoom.js"></script>
                                <script>
                                    wheelzoom(document.querySelector('img.zoom'));
                                </script>
                            </td>
                        </tr>
                    </table>
                 </div> 

                <div class="col-md-6 padding-0 colHeight" style="background-color: orange;" >
                    <h3>Title of product</h3>
                </div>
            </div>
        </div>   
        
        <%- include('bottomJavaScriptLink.ejs') %>
        <script>  
            var app = angular.module("myModuleHomeDb", []);
            app.controller("myControllerHomeDb", function($scope) {
                $scope.records = [
                    "uploads/AB03.png",
                    "uploads/AB05.png",
                    "uploads/AB04.png",
        
                ];
                $scope.check = function(id)
                {
                    document.getElementById("zoom").src = id;
                }
            });
        </script>
    
    </body>
</html>    