<html>
    <head>
        <%- include('head.ejs') %>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='css/viewProduct.css' rel='stylesheet' type='text/css'>
    </head>
    <body style="padding-left: 20%; padding-right: 15%">
        <div class="col-md-12">
            <div class="col-md-6">
                <!-- bootstrap carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators
                    <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol> -->
            
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner sp-wrap">
                        <aside>
                            <div class="item active srle">
                                <a href="uploads/AB04.png"><img src="uploads/AB04.png" alt="1.jpg" class="img-responsive"></a>
                            </div>
                            <div class="item">
                                <a href="uploads/AB03.png"><img src="uploads/AB03.png" alt="3.jpg" class="img-responsive"></a>
                            </div>
                            <div class="item">
                                <a href="uploads/AB05.png"><img src="uploads/AB05.png" alt="4.jpg" class="img-responsive"></a>
                            </div>
                        </aside>
                    
                    </div>
                
                    <!-- Controls
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a> -->
            
                    <!-- Thumbnails 
                    <ul class="thumbnails-carousel clearfix">
                        <li><img src="https://s2.postimg.org/h6uti3zud/1_tn.jpg" alt="1_tn.jpg"></li>
                        <li><img src="https://s29.postimg.org/afuhmf61f/3_tn.jpg" alt="1_tn.jpg"></li>
                        <li><img src="https://s29.postimg.org/p45dxi6hf/4_tn.jpg" alt="1_tn.jpg"></li>
                    </ul>  -->
                </div>       
            </div>            
                        
            <div class="col-md-6" style="background:#eee;">asd</div>
        </div>

        <!-- <%- include('bottomJavaScriptLink.ejs') %> -->
        
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
        <script type="text/javascript" src="js/kthornbloom.js"></script> 
        
        <script>
            /* wait for images to load */
            $(window).load(function() {
                $('.sp-wrap').smoothproducts();
            });

            // thumbnails.carousel.js jQuery plugin
            ;(function(window, $, undefined) {

                var conf = {
                    center: true,
                    backgroundControl: false
                };

                var cache = {
                    $carouselContainer: $('.thumbnails-carousel').parent(),
                    $thumbnailsLi: $('.thumbnails-carousel li'),
                    $controls: $('.thumbnails-carousel').parent().find('.carousel-control')
                };

                function init() {
                    cache.$carouselContainer.find('ol.carousel-indicators').addClass('indicators-fix');
                    cache.$thumbnailsLi.first().addClass('active-thumbnail');

                    if(!conf.backgroundControl) {
                        cache.$carouselContainer.find('.carousel-control').addClass('controls-background-reset');
                    }
                    else {
                        cache.$controls.height(cache.$carouselContainer.find('.carousel-inner').height());
                    }

                    if(conf.center) {
                        cache.$thumbnailsLi.wrapAll("<div class='center clearfix'></div>");
                    }
                }

                function refreshOpacities(domEl) {
                    cache.$thumbnailsLi.removeClass('active-thumbnail');
                    cache.$thumbnailsLi.eq($(domEl).index()).addClass('active-thumbnail');
                }	

                function bindUiActions() {
                    cache.$carouselContainer.on('slide.bs.carousel', function(e) {
                        refreshOpacities(e.relatedTarget);
                    });

                    cache.$thumbnailsLi.click(function(){
                        cache.$carouselContainer.carousel($(this).index());
                    });
                }

                $.fn.thumbnailsCarousel = function(options) {
                    conf = $.extend(conf, options);

                    init();
                    bindUiActions();

                    return this;
                }

            })(window, jQuery);

            $('.thumbnails-carousel').thumbnailsCarousel();
        </script>
    </body>
</html>