/* Style the tab */
.headerTab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: white;
  }
  
  /* Style the buttons inside the tab */
  .headerTab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .headerTab button:hover {
    background-color: rgb(100, 99, 99);
  }
  
  /* Create an active/current tablink class */
  .headerTab button.active {
    background-color: rgb(100, 99, 99);
  }
  
  /* Style the tab content */
  .headerTabcontent {
    display: none;
    /* padding: 6px 12px; */
    /* border: 1px solid #ccc; */
    border-top: none;
  }
